html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    /* 🚫 no scroll ever */
}

body {
    font-family: 'Luckiest Guy', cursive;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: .1em;

}

.container {
    position: relative;
}